lectures/static/lectures/videos/lecture1.mp4
lectures/static/lectures/videos/lecture2.mp4
lectures/static/lectures/videos/lecture3.mp4
lectures/static/lectures/videos/lecture4.mp4
lectures/static/lectures/videos/lecture5.mp4