.back{
	background: url('images/background.jpg');
}
.question{
	background-color: #13245e;
	border: 3px solid black;
	border-radius: 20px;
	color: #fff;
	margin-top:20px;
	padding: 15px; 
}

.btn{
	margin-top:20px;
	margin-bottom:60px;
	font-size: 20px;
}